*{
	margin:0px;
	padding: 0px;
}
.container{
	margin: 0px auto;
	width:940px;
}
.header{
	width: 940px;
	margin: 0px auto;
	overflow: hidden;
}
.wrapper{
	background-color: black;
}
.LOGO{
	/*height:50px;*/
	float: left;
    font-size: 30px;
    font-style: normal; 
    /*padding-top: 5px;*/
    color: white;
    text-decoration:none;
}
.top1{
	overflow: hidden;
	float:right;
}
.top1 li{	
	list-style: none;
	/*height:50px;*/
	float: left;
    font-size: 20px;
    font-style: normal; 
    color: white;
}
.top1 li a{
	padding:12px 10px;
	text-decoration: none;
	color: white;
	display: block;
}
.wrapper1{
	border-bottom: 1px dotted gray;
	text-align: center;
    /*height:90px;*/
    width:940px; 
    /*margin: 10px 180px 10px 180px; */
    padding-bottom:20px;
}
.w1{
	font-size: 36px;
    font-style: normal; 
    color: black;
    font-weight: bold;
}
.w2{
	font-size: 36px;
    font-style: normal; 
    color: gray;
    }
.w3{
    font-size: 20px;
    font-style: normal; 
    color: gray;
}
.superwrap{
	border-bottom: 1px dotted gray;
	text-align: center;
    /*height:400px;*/
    width:940px; 
    /*margin: 10px 180px 10px 180px; */
    padding-bottom: 30px;
}
.wrapper3{
	overflow: hidden;
}
.wrapper3 li{
	border: 1px solid blue;
	background-color: blue;
	text-align: center;
	width: 290px;
	height: 400px;
	float: left;
	margin: 10px 10px 10px 10px;
	list-style: none;
}
.a{
	border-bottom: 1px dotted gray;
	text-align: center;
    /*height:40px;*/
    /*padding: 10px 0px;*/
    font-size: 30px;
}

.b{
	height:250px;
	margin: 10px;
}
